@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Montserrat+Alternates:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Montserrat+Alternates:wght@200&display=swap");
@import "https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
}

body {
  position: relative;
}

.ligne1 {
  display: flex;
  height: 40px;
  background-color: #00915a;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  z-index: 200;
}
.ligne1 div {
  width: 50%;
  height: 100%;
  display: flex;
}
.ligne1 div a {
  text-decoration: none;
  color: #fff !important;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  transition: 0.2s;
}
.ligne1 div a:nth-child(1) {
  background-color: #036640;
}
.ligne1 div a:hover {
  background-color: #036640;
  transition: 0.2s;
}
.ligne1 div:nth-child(2) {
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  position: relative !important;
}
.ligne1 div:nth-child(2) a {
  background-color: unset;
  justify-self: flex-start;
}
.ligne1 div:nth-child(2) a:hover {
  background-color: #036640;
}
.ligne1 div:nth-child(2) div {
  width: 120px;
}
.ligne1 div:nth-child(2) div ul {
  position: fixed;
  top: 0;
  list-style-type: none;
  padding: 0;
  width: 100px;
  padding: 5px;
  background-color: #00bf76;
}
.ligne1 div:nth-child(2) div ul li {
  position: relative;
  cursor: pointer;
  height: 25px;
  margin-top: 7px;
  justify-content: space-between;
  font-weight: bold;
  display: none;
}
.ligne1 div:nth-child(2) div ul li span {
  margin: 0 2px;
}
.ligne1 div:nth-child(2) div ul li:nth-child(1) {
  display: block;
}
.ligne1 div:nth-child(2) div ul li:hover {
  background-color: #00915a;
  color: #fff;
}
.ligne1 div:nth-child(2) div ul:hover li {
  display: block;
}

.stick {
  position: sticky;
  top: 0;
  height: 75px;
  z-index: 99999;
  background-color: #fff;
  display: flex;
  margin: 0;
  padding: 0 10px;
  box-shadow: 1px 1px 1px #373737;
  display: flex;
  align-items: center;
}
.stick div:nth-child(1) {
  display: flex;
}
.stick div:nth-child(1) a {
  width: 230px;
  background-image: url("../../public/img/bnp-alone.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  display: block;
  padding: 0;
  text-decoration: none;
}
.stick div:nth-child(1) p {
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.stick div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.stick div:nth-child(2) a {
  margin: 0 10px;
  padding: 10px 10px;
  border-radius: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #28c3a9;
  transition: 0.3s;
  font-weight: 700;
}
.stick div:nth-child(2) a:hover {
  transition: 0.3s;
  background-color: #1b8472;
}
.stick div:nth-child(2) a:nth-child(2) {
  background-color: #00915a;
}
.stick div:nth-child(2) a:nth-child(2):hover {
  background-color: #00452b;
}
.stick div {
  height: 100%;
  width: 50%;
  justify-self: flex-end;
  margin: 0;
  padding: 0;
}

#ConteneurPrincipal {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav main";
}
#ConteneurPrincipal nav {
  position: fixed;
  top: 110px;
  width: 140px;
  min-height: 100%;
  z-index: 9 !important;
  left: 0;
  background-color: #373737;
  box-shadow: 1px 1px 1px #373737;
  grid-area: nav;
}
#ConteneurPrincipal nav ul {
  height: auto;
  width: 140px;
  margin: 0;
  padding: 0;
  background-color: #373737;
  top: 0;
  left: 0;
}
#ConteneurPrincipal nav ul li {
  padding-right: 3px;
  color: #fff;
  min-height: 58px;
  border-bottom: 0.5px solid #fff;
  font-weight: bold;
  font-size: 0.9em;
  padding: 4px;
  cursor: pointer;
  transition: 0.1s;
}
#ConteneurPrincipal nav ul li > span {
  display: flex;
  align-items: center;
}
#ConteneurPrincipal nav ul li > span i {
  display: inline-block;
  margin-right: 2px;
  padding: 0 7px;
  font-size: 1.5em;
  transform: rotate(-25deg) translateX(5px);
}
#ConteneurPrincipal nav ul li p {
  font-size: 0.8em;
  overflow-x: hidden;
  display: none;
}
#ConteneurPrincipal nav ul li:hover p {
  display: block;
  transition: 0.1s;
}
#ConteneurPrincipal #main {
  grid-area: main;
  padding: 15px;
  background-color: red;
}

/*# sourceMappingURL=template2.css.map */
