$themeColor1:#036640;
$themeColor2:#00915a;
$themeGris:#373737;
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Montserrat+Alternates:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}