@import "_variables.scss";
#AccueilSection1{
    height: 100vh;
    background-image: url('../../public/img/visuel-home.jpg');    
    background-position: center center;
    background-size: cover;
    object-fit: fill;
    position: relative;
    padding: 10px 50px;

    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;

    h2{
        width: 50%;
        font-weight: bolder;
        text-shadow: 1px 1px 1px $themeColor1;
    }

    p{
        width: 50%;
        font-size: 1.2em;
    }
    .container{
        position: absolute;
        top: 70%;
        left:10%;
        width: calc(100% - 20%);
        height: 75vh;
        display: flex;
        justify-content: space-between;

        &>div{
            height: 450px;
            width: 30%;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 5px $themeGris;
            

            div{
                height: 50%;
                padding: 20px;

                &:nth-child(1){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
    
                    p{

                        &:nth-child(3){
                            font-size:0.8em;
                        }
                        width: 100%;
                        text-align: center;

                        i{
                            font-size: 3em;
                            color: #fff;
                            font-weight: lighter;
                        }
                        a{
                            padding: 5px;
                            height: 50px;
                            background-color: $themeColor2;
                            color: #fff;
                            text-decoration: none;
                            border-radius: 15px;
                            box-shadow: 1px 1px 1px $themeGris;
                            font-size: 0.9em;

                            &:hover{
                                background-color: $themeColor1;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }

            div:nth-child(2){
                display: block;
                background-color: #fff;

                p{
                    width: 100%;
                    font-size: 1.1em;
                    color: $themeColor1;
                    font-weight: bold;
                }
            }

            &:nth-child(1){
               div:nth-child(1){
                background-image: linear-gradient(90deg,#00915a,#5ec66b);
                

                
               }
            }
            &:nth-child(2){
               div:nth-child(1){
                background-image: linear-gradient(90deg,#2491ee,#1cc7f2);
               }
            }
            &:nth-child(3){
               div:nth-child(1){
                background-image: linear-gradient(90deg,#7e50a8,#d563a7);
               }
            }
        }
       
    }
}

#AccueilSection2{
    min-height: 50vh;
    background-color: #dddddd8e;
    
}

#AccueilSection3{
    padding: 10px;

    h2{
        font-weight: bolder;
        padding: 10px 20px;
    }

    a{
        display: block;
        width: 250px;
        text-align: center;
        text-decoration: none;
        padding: 10px 10px;
        margin: 10px auto;
        background-color: $themeColor2;
        border-radius: 10px;
        color: #fff !important;
        transition: 0.2s;
        font-weight: 500;


        &:hover{
            background-color: $themeColor1;
            transition: 0.2s;
        }
    }

    .stepsWrapper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

      

        &>div{
            width:30%;
            >div{
                background-image: url("../../public/img/inscription.png");
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid $themeColor1;
                object-fit: contain;
                display: block;
                margin: 5px auto;
                position: relative;
                
                span{
                    width: 50px;
                    height: 50px;
                    background-color: $themeColor2;
                    position: absolute;
                    top:0;
                    left:0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 4px solid #fff;
                    color: #fff;
                    font-weight: bolder;
                }
            }
           p{
            span{
                background-color: $themeColor2;
                color: #fff;
                width: 20px;
                height: 20px;
                display: flex;justify-content: center;
                align-items: center;
            }
           }
        }
        &>div:nth-child(2){
            >div{
                background-image: url("../../public/img/documents.png");
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid $themeColor1;
                object-fit: contain;
                display: block;
                margin: 5px auto;
                position: relative;
            }
        }
        &>div:nth-child(3){
            >div{
                background-image: url("../../public/img/approved.webp");
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid $themeColor1;
                object-fit: contain;
                display: block;
                margin: 5px auto;
                position: relative;
            }
        }

       
    }
}

#AccueilSection4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-image: url("../../public/img/c3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    h2{
        font-size: 2em;
        font-weight: bolder;
        color: #fff;
        text-shadow: 1px 1px 1px $themeColor2;
        text-transform: uppercase;
    }
}

#AccueilSection6{
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd8e;
   
    .row{
        
        &>div:nth-child(1){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            justify-items: center;

            h4{
                font-weight: bolder;
                text-align: center;
            }
        }

        &>div:nth-child(2){
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
      
}

#AccueilSection5{
    padding: 10px;
    .row{
        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

        div:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4{
                font-weight: bolder;
                font-size: 2.5em;
            }
            p{
                font-size: 1.4em;

                a{
                    text-decoration: none;
                    color:#fff;
                    padding: 10px;
                    background-color: $themeColor1;
                    transition: 02s;
                    font-weight: 500;
                    border-radius: 10px;

                    &:hover{
                        background-color: $themeColor2;
                        text-decoration: none;
                        transform: scale(1.01);

                    }
                }
            }
        }
    }
}

#AccueilSection7{
    display: flex;
    padding: 15px;

    div{
        width: 50%;
        min-height: 100vh;
        padding: 10px;
    }

    &>div:nth-child(1){
        background-color: red;
    }
    &>div:nth-child(2){
        
        &>div{
            display: block;
            width: 100%;
            h4{
                font-weight: bolder;
            }
            p{
                font-size: 1.3em;
                font-weight: 500;
            }

            &>div{
                display: block;
                p{
                    font-size: 1.2em;
                }
            }

            .ranger{
               position: relative;
               display: flex;
               
            }
        }

        
    }

}





@media screen and (max-width:720px){
    #AccueilSection1{

        h2{
            font-size: 1.1em;
        }
        p{
            font-size:0.9em;
            width: 80%;
        }
        .container{
            width: 90%;
            flex-direction: column;

            &>div{
                width:90%;
                min-height: 450px;
                margin: 10px 0;
                box-shadow: 0px 0px 5px $themeGris;
            }
        }
    }

    #AccueilSection2{
        min-height: 200vh;
        background-color: #dddddd8e
    }

    #AccueilSection3{
        .stepsWrapper{
            flex-direction: column;
            &>div{
                width:90%;
                margin:5px auto;
            }
        }
    }
    #AccueilSection6{
        .credit-card.visa{
            width: 270px;
            height: 175px;
            transform: rotate(0deg);
        }
    }
}