@import "_variables.scss";
.AccueilSection1{
    height: 560px;
    background-image: url('../../public/img/visuel-home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-left:calc($largeurAside + 25px);
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;

    h3{
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 1px $themeGris;
        text-transform: uppercase;
        padding-left: 5%;
    }
    p{
        width: 50%;
        color: #fff;
        font-size: 1.2em;
        font-weight: 400;
        padding-left: 5%;
    }
    
}

.AccueilSection2{
  
   margin-top:-50vh;
   min-height: 50vh;
   left:0;
   right: 0;
    background-color: red;
    min-height: 500px !important;
    margin: 0 auto;
}

.sol{
    position:relative;
   
}
